# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\bovar\Desktop\Spring 2021\Adv App Java\Assignments\ElevatorSystemAdvancedJava\ElevatorSystemProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
